@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/NotoSerifCJKjp-ExtraLight.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-ExtraLight.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/NotoSerifCJKjp-Light.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-Light.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSerifCJKjp-Regular.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/NotoSerifCJKjp-Medium.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/NotoSerifCJKjp-SemiBold.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-SemiBold.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSerifCJKjp-Bold.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Noto Serif CJK JP";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/NotoSerifCJKjp-Black.woff") format("woff"),
	     url("../fonts/NotoSerifCJKjp-Black.otf") format("opentype");
}
